In [1]:
## Data Science Tools and Ecosystem

In [2]:
### In this notebook, Data Science Tools and Ecosystem are summarized.

In [5]:
languages = ["Python", "R", "SQL", "Julia", "Java"]
print(languages)

['Python', 'R', 'SQL', 'Julia', 'Java']

In [7]:
## Some of the commonly used libraries used by Data Scientists include:
libraries = ['NumPy', 'Pandas', 'Scikit-learn', 'TensorFlow', 'Matplotlib']

In [9]:
print(libraries)

['NumPy', 'Pandas', 'Scikit-learn', 'TensorFlow', 'Matplotlib']


| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

 Below are a few examples of evaluating arithmetic expressions in Python.

In [12]:
# Code to multiply and add numbers
# This a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [13]:
 # Code to convert minutes to hours
# This will convert 200 minutes to hours by dividing by 60
200 / 60

3.3333333333333335

 ## **Objectives:**
- List popular languages for Data Science
- Identify commonly used libraries in Data Science
- Recognize development environment tools
- Perform arithmetic operations in Python

## Author
Maria Lu√≠za